<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajout option</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <%= form_for @payment_plan, :url => { :controller => "payment_plans", :action => "create" }, remote: :true do |f| %>

            <div class="form-group">
                <label></label>
                <%= f.select :plan, PaymentPlan.select_plans, { prompt: "Veuillez choisir une valeur"}, class: "form-control", :required => true %>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-warning font-weight-bold" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success font-weight-bold" value="submit"
                form="new_payment_plan">Ajouter</button>
        </div>
        <% end %>
    </div>
</div>