<div class="row">
    <!--begin::Content-->
    <div class="col-lg-12 col-xl-12">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <div class="card-body" id="rib">
                <%= render "rib" %>
            </div>
        </div>
    </div>
    <!--end::Content-->
</div>