<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Importation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <%= form_tag(import_admin_manage_students_path, method: :post, remote: :true, id: "init_import_form", multipart: true) do |f| %>
            <div class="form-group alert alert-light">
                <a href="/import_etudiants_exemple.csv" target="_blank" class="font-weight-bold">Cliquez-ici pour
                    télécharger le
                    fichier
                    d'exemple</a>
            </div>

            <div class="form-group">
                <label>Type d'importation</label>
                <div class="radio-inline">
                    <label class="radio font-weight-bolder">
                        <%= radio_button_tag :type, "inscription", false, required: true  %>
                        <span></span>Inscription</label>
                    <label class="radio font-weight-bolder">
                        <%= radio_button_tag :type, "reinscription", false, required: true  %>
                        <span></span>Réinscription</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label for="">Fichier CSV
                        <span class="text-danger">*</span></label>
                    <%= file_field_tag :file, class: "form-control", :required => true, accept: '.csv' %>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-warning font-weight-bold" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success font-weight-bold" value="submit" form="init_import_form"
                data-disable-with="Chargement...">Charger</button>
        </div>
        <% end %>
    </div>
</div>