    <!--begin::List-->
    <!-- <div class="d-flex flex-column flex-grow-1">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-body d-flex p-0">
                <div class="flex-grow-1 p-12 card-rounded bgi-no-repeat d-flex flex-column justify-content-center align-items-start"
                    style="; background-position: right bottom; background-size: auto 100%; background-image: url(/assets/media/svg/humans/custom-8.svg)">
                    <h4 class="text-danger font-weight-bolder m-0">Veuillez sélectionner un campus à gauche</h4>
                </div>
            </div>
        </div>
    </div> -->

    <div class="alert alert-custom alert-white alert-shadow fade show mb-5" role="alert">
        <div class="alert-icon">
            <i class="flaticon-warning"></i>
        </div>
        <div class="alert-text"> Veuillez sélectionner un campus !
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="ki ki-close"></i>
                </span>
            </button>
        </div>
    </div>