<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajout formation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <%= form_for @formation ,:url => { :controller => "formations", :action => "create" }, remote: :true do |f| %>
            <div class="form-group">
                <label>Libellé *</label>
                <%= f.text_field :nom, class: "form-control", placeholder: "ex : Bachelor Game & Creative Coding", :required => true %>
            </div>
            <div class="form-group">
                <label>Code produit *</label>
                <%= f.text_field :code, class: "form-control", placeholder: "BGD1", :required => false %>
            </div>
            <div class="form-group">
                <label>Compte de produit Sage</label>
                <%= f.text_field :compte_produit_sage, class: "form-control", placeholder: "70641001", :required => false %>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-warning font-weight-bold" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success font-weight-bold" value="submit"
                form="new_formation">Enregistrer</button>
        </div>
        <% end %>
    </div>
</div>