<%= render "user/layouts/head" %>
<!--end::Head-->
<!--begin::Body-->
<%= render "layouts/header_anonym_1" %>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h2 class="text-white font-weight-bold my-2 mr-5">Politique de confidentialité</h2>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <div class="row mt-5">
                            <!--begin::Content-->
                            <div class="col-lg-12">
                                <div class="card card-custom gutter-b">

                                    <!--begin::Body-->
                                    <div class="card-body">
                                        IONIS EDUCATION GROUP attache une grande importance à la protection de vos
                                        données
                                        personnelles.
                                        Par conséquent, nous nous efforçons d’être le plus transparent possible sur les
                                        traitements de données à caractère personnel que nous effectuons à votre sujet.

                                        <h2 class="mt-10 mb-4">1. Informations générales</h2>

                                        IONIS EDUCATION GROUP (ci-après “nous”), agit en qualité de responsable de
                                        traitement au sens
                                        de
                                        la réglementation relative à la protection des données.
                                        Il est entendu par “réglementation relative à la protection des données”, le
                                        Règlement européen 2016/769 relatif à la protection des personnes physiques à
                                        l’égard du traitement des données à caractère personnel et à la libre
                                        circulation de ces dernières, ainsi que la Loi Informatique et Libertés du 6
                                        janvier 1978, modifiée par la loi du 20 juin 2018.

                                        <h2 class="mt-10 mb-4">2. Données personnelles collectées</h2>

                                        Lors de votre navigation sur notre plateforme, nous collectons un certain nombre
                                        d’information à votre sujet de nature à vous identifier de manière directe ou
                                        indirecte.
                                        Ainsi, selon votre navigation nous pouvons collecter différentes catégories de
                                        données personnelles :<br><br>
                                        <ul>
                                            <li>Données d’identification : nom, prénom, adresse mail ;</li>
                                            <li>Données de connexion : adresse IP, journaux d’évènements ;<br>
                                            <li>Données économiques et financières : RIB, échéancier de prélèvement,
                                                montant
                                                des frais de scolarité, état de paiement.
                                        </ul>
                                        <h2 class="mt-10 mb-4">3. Finalités des traitements</h2>

                                        Nous collectons vos données personnelles afin de gérer et suivre la facturation
                                        des frais de scolarité.
                                        <h2 class="mt-10 mb-4">4. Durée de conservation des données</h2>

                                        IONIS EDUCATION GROUP conserve les données personnelles transmises le temps
                                        nécessaire au
                                        traitement, ainsi que toute la durée imposée par la loi.
                                        <h2 class="mt-10 mb-4">5. Sécurité de vos données personnelles</h2>

                                        IONIS EDUCATION GROUP s’engage à protéger vos données personnelles contre toute
                                        perte,
                                        destruction, altération, accès ou divulgation non autorisée. Ainsi, nous mettons
                                        en œuvre toutes les mesures de sécurité techniques et organisationnelles au
                                        regard de la nature des données personnelles et des risques que leur traitement
                                        comporte.
                                        <h2 class="mt-10 mb-4">6. Transfert de vos données personnelles vers des pays
                                            tiers
                                        </h2>

                                        Vos données personnelles peuvent être transférées vers un de nos prestataires,
                                        en charge de la sécurité du paiement. Nous mettons en place toutes les mesures
                                        contractuelles nécessaires permettant la sécurité et la confidentialité de vos
                                        données personnelles.
                                        <h2 class="mt-10 mb-4">7. Exercice de vos droits</h2>

                                        En qualité d’utilisateur, vous disposez de la possibilité d’exercer les droits
                                        suivants : <br><br>
                                        <ul>
                                            <li>Droit d’accès : possibilité de demander une copie des données
                                                personnelles
                                                que
                                                nous détenons à votre sujet ; </li>
                                            <li>Droit de rectification : possibilité de demander une rectification de
                                                données
                                                inexactes à votre sujet ; </li>
                                            <li>Droit de suppression : possibilité de demander la suppression de vos
                                                données
                                                personnelles. Nous nous réservons le droit de refuser votre demande
                                                lorsqu’il
                                                nous faut respecter une obligation légale ; </li>
                                            <li>Droit à la portabilité : possibilité de demander le transfert de vos
                                                données
                                                à
                                                un autre responsable de traitement, ou de récupérer une copie de vos
                                                données,
                                                dans un format structuré ; </li>
                                            <li>Droit à la limitation du traitement : possibilité de restreindre le
                                                traitement
                                                si : <br>
                                                <ul>
                                                    <li>Vous contestez l’exactitude de vos données, jusqu’à ce que nous
                                                        vérifiions
                                                        leur exactitude ;
                                                    </li>
                                                    <li>Le traitement est illégal, mais vous ne souhaitez pas que nous
                                                        supprimions
                                                        vos
                                                        données ; </li>
                                                    <li>Nous n’avons plus besoin de vos données personnelles aux fins du
                                                        traitement
                                                        mais vous avez besoin de ses données afin d’intenter, de faire
                                                        valoir ou
                                                        de
                                                        vous
                                                        défendre contre des demandes en justice ; </li>
                                                    <li>Vous êtes opposés au traitement en vous fondant sur des motifs
                                                        liés en
                                                        attendant de vérifier si nos motifs légitimes et impérieux pour
                                                        poursuivre
                                                        le
                                                        traitement priment sur ces intérêts.
                                                        Si vous exercez ce droit, nous ne traiterons vos données qu’avec
                                                        votre
                                                        consentement, ou en vue d’intenter, de faire valoir ou de nous
                                                        défendre
                                                        contre
                                                        des demandes en justice. <br>
                                                </ul>
                                            <li>Droit de s’opposer au traitement en invoquant des intérêts légitimes ;
                                                <br>
                                            <li>Droit de retirer son consentement. <br> <br>
                                        </ul>
                                        Vous pouvez exercer vos droits auprès du DPO : <br>

                                        <ul>
                                            <li>Par mail : dpo@ionis-group.com<br>
                                            <li>Par courrier postal : 14-16, rue Voltaire 94270 Le Kremlin-Bicêtre – DSI
                                                IONIS EDUCATION GROUP – à l’attention du Délégué à la protection des
                                                données.
                                        </ul>
                                        <br> En cas de doute raisonnable sur l’identité du demandeur, nous nous
                                        réservons le
                                        droit de vous demander un justificatif d’identité.<br><br>
                                        Vous disposez également du droit de saisir la Commission Nationale de
                                        l’Informatique et des Libertés (CNIL), 3 Place de Fontenoy – TSA 80715 –
                                        75334
                                        PARIS CEDEX 07, de toute réclamation se rapportant à la manière dont IONIS
                                        EDUCATION GROUP collecte et traite vos données.
                                        <h2 class="mt-10 mb-4">8. Modification de la présente politique</h2>

                                        IONIS EDUCATION GROUP est susceptible de modifier la politique de protection des
                                        données
                                        aussi
                                        souvent que nécessaire. <br>
                                        Date de dernière modification : 07/01/2022

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid" id="content">
            <!--begin::Dashboard-->

            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<%= render "user/layouts/footer" %>
</body>
<!--end::Body-->

</html>