<div class="row">
    <div class="col-xl-12">
        <!--begin::List Widget 1-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <div class="input-icon">
                        <input type="text" class="form-control" placeholder="Rechercher..."
                            id="kt_datatable_search_query" />
                        <span>
                            <i class="flaticon2-search-1 text-muted"></i>
                        </span>
                    </div>
                </h3>
                <div class="card-toolbar">

                </div>
            </div>
            <div class="card-body pt-8">

                <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_payouts"></div>

            </div>
            <!--end::Body-->
        </div>
        <!--end::List Widget 1-->
    </div>
</div>